
html, body {
	padding:0;
	margin:0;
}

.center-horizontal{
	margin: auto;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: blue;
}

.header{
	position: absolute;
	background-color: red;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	z-index: 11;
}

.mainpagecontainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.mainpage{
	box-sizing: border-box;
	background-color: blue;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer{
	position: absolute;
	background-color: green;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	z-index: 10;
}

.navbar{
	display: flex;
	height: 100%;
	background-color: red;
	overflow: hidden;
}

.navelement{
	color: black;
	background: #ededed;
	padding: 3px;
	margin: 3px 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navelement:hover{
	background: #bababa;
}

a{
	display: block;
	color: black;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.footbar{
	display: flex;
	height: 100%;
	background-color: green;
	overflow: hidden;
	justify-content: right;
	align-items: center;

}

.footelement{
	color: black;
	background: #00000000;
	padding: 3px;
	margin: 3px 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footelement:hover{
	background: #0000003f;
}
