<html>
	<head>
		<base target="_blank">
		<link rel="stylesheet" href="../css/style.css">
	</head>

	<body>
		<div class="footbar">
			<div class="footelement">
				<a href="https://instagram.com" class="center"> insta </a>
			</div>
			<div class="footelement">
				<a href="https://tiktok.com" class="center"> tik tok </a>
			</div>
			<div class="footelement">
				<a href="https://facebook.com" class="center"> facebook </a>
			</div>
			<div class="footelement">
				<a href="https://github.com/OgradL/sito-informatico" class="center"> github </a>
			</div>
		</div>
	</body>
</html>
