<html>
	<head>
		<base target="_parent">
		<link rel="stylesheet" href="../css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;display=swap&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="navbar center-horizontal">
			<div class="navelement">
				<a href="../index.html" class="center"> home </a>
			</div>
			<div class="navelement">
				<a href="../contatti.html" class="center"> contatti </a>
			</div>
			<div class="navelement">
				<a href="../menu.html" class="center"> menù </a>
			</div>
			<div class="navelement">
				<a href="../allergeni.html" class="center"> allergeni </a>
			</div>
		</div>
	</body>
</html>
